{{#each this}}
<div class="card mb-2">
    <div class="card-body">
        <h5 class="card-title">Owner Name</h5>
        <h6 class="card-subtitle mb-2 text-muted">Visit: Walk</h6>
        <p class="card-text">Time: 30 minutes</p>
    </div>
</div>
{{/each}}

{{!-- {{#each this}}
<div class="card mb-2">
    <div class="card-body">
        <h5 class="card-title">{{ owner.first_name }} {{ owner.last_name }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Visit: </h6>
        <p class="card-text">Time: 30 minutes</p>
    </div>
</div>
{{/each}} --}}