<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
    <nav class="nav-bar">
      <a href="/">Home</a>
      <a href="/dashboard">Dashboard</a>
      {{#if loggedIn}}
      <button id="logout" class="logout-button">Logout</button>
      <p class="login-info">logged in as {{username}}</p>
      {{else}}
      <a class="login-psbtn" href="/login">Login</a>
      {{/if}}
    </nav>
  </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Keep Sharing!
    </footer>
  </div>
{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}
</body>

</html>