{{> nav/nav-block}}

<div id="main-container" class="container">
  <div class="jumbotron text-center header-wrap" align="center">
    <p class="lead">Connect with trusted dog walkers in your neighborhood.</p>
    <hr class="my-4">
    <div>
        <p>Sign up bellow to get started as a pet owner or a walker.</p>
        <form class="signup-form">
          <div>
            <label for="first-name"></label>
            <input type="text" id="fist-name-signup" placeholder="First Name" />
          </div>            
          <div>
            <label for="last-name"></label>
            <input type="text" id="last-name-signup" placeholder="Last Name" />
          </div>
          <div>
            <label for="email-signup"></label>
            <input type="text" id="email-signup" placeholder="Email Address" />
          </div>
          <div>
            <label for="password-signup"></label>
            <input type="password" id="password-signup" placeholder="Password"/>
          </div>
          <div>
            <button type="submit">Signup</button>
          </div>
        </form>
    </div>
  </div>
</div>

{{!-- {{> modal/login-block}} --}}